div.border-color {
  border-color: #ffffff #0000ff #00ff00 #ff0000;
}
div.border-left {
  border-right: 1px;
}
div.border-left-color {
  border-right-color: #ff0000;
}
div.border-left-style {
  border-right-style: dotted;
}
div.border-left-width {
  border-right-width: 1px;
}
div.border-right {
  border-left: 1px;
}
div.border-right-color {
  border-left-color: #ff0000;
}
div.border-right-style {
  border-left-style: dotted;
}
div.border-right-width {
  border-left-width: 1px;
}
div.border-style {
  border-style: dotted dashed double solid;
}
div.border-width {
  border-width: 1px 4px 3px 2px;
}
div.border-top-left-radius {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
div.border-top-right-radius {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
div.border-bottom-left-radius {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
div.border-bottom-right-radius {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
div.direction {
  direction: rtl;
}
div.direction-inherit {
  direction: inherit;
}
div.direction-rtl {
  direction: ltr;
}
div.direction-ltr {
  direction: rtl;
}
div.left {
  right: 10px;
}
div.float {
  float: right;
}
div.float-none {
  float: none;
}
div.float-left {
  float: right;
}
div.float-right {
  float: left;
}
div.margin {
  margin: 1px 4px 3px 2px;
}
div.margin-left {
  margin-right: 1px;
}
div.margin-right {
  margin-left: 1px;
}
div.padding {
  padding: 1px 4px 3px 2px;
}
div.padding-left {
  padding-right: 1px;
}
div.padding-right {
  padding-left: 1px;
}
div.text-align {
  text-align: right;
}
div.text-align-center {
  text-align: center;
}
div.text-align-left {
  text-align: right;
}
div.text-align-right {
  text-align: left;
}
div.right {
  left: 10px;
}
